* {
font-family: Helvetica, Arial, sans-serif;

}

body{
  padding: 60px;
}

input{
  color: grey;
  font-size: 1.2rem;
  width: 100%;
}

.card{
  align-content: center;
  align-items: center;
  border:1px solid grey;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding-inline: 10px;
  overflow: hidden;

}

.card img{
  
  border-radius: 12px;
  max-width: 180px;
}

.card-grid{
 
  display: flex;
  flex-wrap: wrap;
  

}

